@import "tailwindcss";
@keyframes cloudMove {
  0% { transform: translateX(-50px); }
  100% { transform: translateX(100vw); }
}

@keyframes cloudSlow {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(100vw); }
}

@keyframes rain {
  0% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}

.animate-cloud {
  animation: cloudMove 20s linear infinite;
}

.animate-cloud-slow {
  animation: cloudSlow 40s linear infinite;
}

.animate-rain {
  animation: rain 0.5s linear infinite;
}

/* Shimmer Animation */
@keyframes shimmerMove {
  100% {
    transform: translateX(100%);
  }
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmerMove 1.5s infinite;
}